@import 'base/fonts';
@import 'layout/alum';
@import 'layout/header';
@import 'layout/carousel';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
    font-family: brown-regular;
}

.container-fluid{
    min-height: 100%;
}

h1{
    padding: 0 0 20px 40px;
}

.artwork{
margin-top: 30px;
    li{
        list-style: none;
        padding:  10px 0 0 0;

       
        a{
            color: white; 
            text-decoration: none;
            font-size: 35px;
            font-family: brown-regular;
            transition: 0.2s all ease-in;
           
        }

        a:hover{
            transition: 0.2s all ease-in;
            -webkit-text-stroke: 0.5px white;
            -webkit-text-fill-color: black;
        }
    }
}



@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }