@font-face {
  font-family: 'brown-bold';
  src: url("../../fonts/BrownPro-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brown-light';
  src: url("../../fonts/BrownPro-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brown-regular';
  src: url("../../fonts/BrownPro-Regular.otf"), url("../../fonts/lineto-brown-pro-regular.woff");
  font-weight: normal;
  font-style: normal;
}

.alum-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.alum-wrapper .alum {
  width: 280px;
  height: 400px;
  background-color: white;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  width: 100%;
  height: 130px;
  padding: 0 20px;
}

.main-nav .navbar-logo {
  padding-left: 10px;
  color: white;
  text-decoration: none;
  font-size: 35px;
}

.main-nav .navbar-toggler:focus {
  outline: 0;
}

.main-nav .toggler-icon-white {
  background-image: url(../../img/toggle.svg);
  width: 30px;
}

.main-nav .menu {
  position: absolute;
  right: 20px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav .menu li a {
  color: white;
  font-family: brown-regular;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px 10px 40px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 3.01px;
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
}

.main-nav .menu li a:hover {
  font-weight: bolder;
  font-size: 15px;
  -webkit-transition: 0.1s all ease-in;
  transition: 0.1s all ease-in;
}

.ie-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 992px) {
  .menu li {
    padding: 0 10px 0 30px;
  }
}

.carousel-wrapper {
  position: relative;
  height: 80%;
  text-align: center;
}

.swiper-container {
  height: 100%;
  width: 100%;
}

.swiper-container .additional__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-container .additional__text .swiper-text {
  text-align: left;
  padding: 50px;
}

.swiper-container .swiper-slide .carousel__img {
  height: 80vh;
  background-size: cover;
}

.swiper-container .swiper-slide video {
  height: 80vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: brown-regular;
}

.container-fluid {
  min-height: 100%;
}

h1 {
  padding: 0 0 20px 40px;
}

.artwork {
  margin-top: 30px;
}

.artwork li {
  list-style: none;
  padding: 10px 0 0 0;
}

.artwork li a {
  color: white;
  text-decoration: none;
  font-size: 35px;
  font-family: brown-regular;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

.artwork li a:hover {
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
  -webkit-text-stroke: 0.5px white;
  -webkit-text-fill-color: black;
}
/*# sourceMappingURL=style.css.map */