// -------------NELE PORTFOLIO FONTS--------------
@font-face {
    font-family: 'brown-bold';
    src: url('../../fonts/BrownPro-Bold.otf');
    font-weight: normal;
    font-style: normal;
   }


   @font-face {
    font-family: 'brown-light';
    src: url('../../fonts/BrownPro-Light.otf');
    font-weight: normal;
    font-style: normal;
   }


   @font-face {
    font-family: 'brown-regular';
    src: url('../../fonts/BrownPro-Regular.otf'),
    url('../../fonts/lineto-brown-pro-regular.woff');
    font-weight: normal;
    font-style: normal;
   }